<% if User.current.allowed_to?(:log_time, nil, :global => true) %>
  <% if time_tracker = User.current.time_tracker %>
    <%= link_to "##{time_tracker.issue_id.to_s}", issue_path(time_tracker.issue_id), :class => "icon icon-#{time_tracker.paused ? 'suspend' : 'clock'}",
      :title => time_tracker.issue.project.to_s + ' - ' + time_tracker.issue.to_s, :rel => 'tooltip' %>
    / <%= time_tracker.time_spent_to_s %> /
    <span>
      <%= time_tracker.issue.time_trackers_buttons('</span><span>', false, '-action icon-action') %>
    </span>
    <span>
      <%= link_to '', time_trackers_path, :remote => true, :class => 'icon-action icon-list-action', :title => l(:list_time_trackers).capitalize %>
    </span>
  <% end %>
<% end %>