<div class="flash notice" id="flash_error">
    <%= @issue.nil? ? l(:time_tracker_label_start_new_tracker) : l(:time_tracker_label_update_and_start_new_tracker) %>
</div>
<%= render 'update_issue' unless @issue.nil? %>
<%= render 'list_issues' %>

